#project {
  width: 95%;
}

#project h2 {
  font-size: 220%;
  color: #3d617b;
  margin-top: 5%;
}

.project-container {
  text-align: left;
}

.image-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
}

.image-wrapper img {
  width: 45%;
}