#project {
  width: 95%;
  display: inline-block;
}

#project h2 {
  font-size: 220%;
  color: #3d617b;
  margin-top: 5%;
}

#project h4 {
  font-size: 150%;
  color: #4795b3;

}

.project-container {
  text-align: left;
  padding-left: 8%;
  padding-right: 8%;
}
.project-container span {
  font-size: 110%;
  margin-bottom: -10%;
}

.project-container p {
  font-size: 110%;
}

.project-container button {
  color: white;
  border-radius: 4px;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  background: rgb(66, 184, 221);
  padding: 5px 10px;
  font-size: 110%;
  margin-bottom: 3%;
}
.image-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-wrap: wrap;
  align-content: center;
}

.image-wrapper img {
  width: 95%;
  margin-bottom: 2%;
}