#profile {
  display: inline-block;
  width: 95%;
}

#profile img {
  padding-bottom: 2.5%;
}
.picture-border {
  border: 2px solid #F3F3F3;
  width: 70%;
  margin-right: auto;
  margin-left: auto;
  border-radius: 20px;
}

#profile h1 {
  font-size: 400%;
  color: #021a2f;
  margin-bottom: 2%;
  margin-top: 2%;
}

.info-p {
  font-size: 16px;

}

#profile h2 {
  font-size: 220%;
  color: #3d617b;
}

.about {
  background-color: #F3F3F3;
  padding-top: 1%;
  margin-top: 5%;
  display: inline-block;
  padding-bottom: 5%;
}

.about h2 {
  margin-bottom: 3%;
}
.about p {
  text-align: left;
  padding-left: 8%;
  padding-right: 8%;
  font-size: 110%;
  padding-bottom: 1%;

}

/* .skill-item h4 {
  color: #868686;
  font-size: 130%;
  font-weight: bold; 
  text-align: left;
  top: 0;
} */

.skill-item p {
  text-align: left;
  color: #3d617b;
  font-size: 110%;
  margin-bottom: -8px;
}

/* .skill-item {
  width: 25%;
  padding-right: 3%;
} */
@media only screen and (min-width: 646px){
.skills-flex {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  align-content: space-between;
  align-items: stretch;
  margin-top: -2%;
  padding-left: 1%;
  margin-bottom: 5%;
}

/* .skill-item h4 {
  color: #868686;
  font-size: 130%;
  font-weight: bold; 
  text-align: left;
  top: 0;
}

.skill-item p {
  text-align: left;
  color: #3d617b;
  font-size: 110%;
  margin-bottom: -8px;
}

.skill-item {
  width: 25%;
  padding-right: 3%;
} */
.skill-item h4 {
  color: #868686;
  font-size: 130%;
  font-weight: bold; 
  text-align: left;
  top: 0;
}

.skill-item {
  width: 25%;
  padding-right: 3%;
}
}
@media only screen and (max-width: 645px){
  .skills-flex {
    display: flex;
    /* flex-direction: column;
    flex-wrap: wrap; */
    flex-flow: row wrap;
    justify-content: space-between;
    width: 100%;
    align-content: space-between;
    align-items: stretch;
    margin-top: -2%;
    padding-left: 1%;
    margin-bottom: 5%;
  }

  /* .skill-item h4 {
    color: #868686;
    font-size: 130%;
    font-weight: bold; 
    text-align: left;
    top: 0;
  }
  
  .skill-item p {
    text-align: left;
    color: #3d617b;
    font-size: 110%;
    margin-bottom: -8px;
  }
  
  .skill-item {
    width: 25%;
    padding-right: 3%;
  } */
  .skill-item h4 {
    color: #868686;
    font-size: 110%;
    font-weight: bold; 
    text-align: center;
    top: 0;
  }
  
  .skill-item {
    width: 47%;
    padding-right: 3%;
  }
  }