.App {
  /* text-align: center; */
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.nav {
  position: fixed;
  left: 0;
  width: 25%;
  background-color: aqua;
  height: 100vh;
  display: block;
}

.nav a {
  display: block;
}

.nav a:hover {
  background-color: blue;

}

.nav a:active {
  background-color: aliceblue;
}

.content-wrapper {
  /* width: 75%; */
  display: block;
  position: relative;
  text-align: center;
  width: 768px;
}