@media only screen and (min-width: 1011px){
  .App {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 100%;
  }

.nav {
  position: fixed;
  left: 0;
  width: 18%;
  background-color: #01182b;
  height: 100vh;
  display: block;
  color: white;
  font-family: Helvetica;
}

.nav h2 {
  text-align: center;
  border-bottom: 1px solid white;
  margin-left: 2%;
  margin-right: 2%;
  font-size: 220%;
  margin-bottom: 2%;
}
.nav ul {
  list-style: none;
  /* margin: 0; */
  margin-left: -7%;
  position: relative;
  }
  
  .nav li {
  text-indent: 20px;
  line-height: 40px; 
  font-family: Helvetica;
  font-size: 18px;
  text-align: left;
  }
  
  .nav a {
    display: block;
    text-decoration: none;
    color: #999999;
  }
  
  .nav a:hover {
    color: white;
  }
  
  .nav a:active {
    color: white;
  }
  
.content-wrapper {
  text-align: center;
  margin-left: 18%;
  padding-top: 2.5%;
  font-family: Helvetica;
}
}

@media only screen and (max-width: 1010px){
.App {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.nav {
position: fixed;
height: 14%;
width: 100%;
background-color: #01182b;
display: inline-block;
color: white;
overflow: hidden;
font-family: Helvetica;
text-align: left;
padding-left: 0%;
}

.nav h2 {
  display: none;
}

.nav ul {
list-style: none;
}

.nav li {
text-indent: 20px;
line-height: 40px; 
font-family: Helvetica;
font-size: 18px;
text-align: center;
display: inline-block;
}

.nav a {
  display: block;
  text-decoration: none;
  color: #999999;
}

.nav a:hover {
  color: white;
}

.nav a:active {
  color: white;
}

.project-list {
  display: none;
}
.content-wrapper {
  /* display: block; */
  /* position: relative; */
  text-align: center;
  margin-top: 15%;
  padding-top: 2.5%;
  font-family: Helvetica;
}
}