.App {
  display: flex;
  flex-direction: row;
  /* justify-content: space-evenly; */
  width: 100%;
}

.nav {
  position: fixed;
  left: 0;
  width: 20%;
  background-color: #98bad8;
  height: 100vh;
  display: block;
  color: white;
}

.nav a {
  display: block;
}

.nav a:hover {
  background-color: white;

}

.nav a:active {
  background-color: aliceblue;
}

.content-wrapper {
  /* display: block; */
  /* position: relative; */
  text-align: center;
  margin-left: 20%;
  padding-top: 2.5%;
}